In [1]:
import pandas as pd
import numpy as num
import os

In [2]:
elect_csv_path = os.path.join("Resources", "election_data.csv")
print(elect_csv_path)

Resources/election_data.csv

In [3]:
elect_df = pd.read_csv(elect_csv_path, encoding="ISO-8859-1")

In [4]:
elect_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [5]:
TotalVoters = len(elect_df["Voter ID"].unique())

In [6]:
TotalCounties = len(elect_df["County"].unique())
TotalCounties

5

In [7]:
TotalCandidate = len(elect_df["Candidate"].unique())
TotalCandidate

4

In [8]:
print("Election Results")
print("---------------------------")
print(f"Total Votes: {TotalVoters}")

Election Results
---------------------------
Total Votes: 3521001

In [9]:
elect_df_gb = elect_df.groupby(['Candidate'])

In [10]:
Cand_Votes_df = elect_df_gb.count()
Cand_Votes_df

           Voter ID   County
Candidate
Correy       704200   704200
Khan        2218231  2218231
Li           492940   492940
O'Tooley     105630   105630

In [11]:
Cand_Votes_df = Cand_Votes_df.rename(columns={"Candidate": "Candidate",
                                        "Voter ID": "Vote_Percentage",
                                        "County": "Total_Votes"})

In [12]:
Cand_Votes_df

           Vote_Percentage  Total_Votes
Candidate
Correy              704200       704200
Khan               2218231      2218231
Li                  492940       492940
O'Tooley            105630       105630

In [13]:
print("Election Results")
print("---------------------------")
print(f"Total Votes: {TotalVoters}")
print("---------------------------")
print("---------------------------")
print("Winner:")
print("---------------------------")

Election Results
---------------------------
Total Votes: 3521001
---------------------------
---------------------------
Winner:
---------------------------

In [ ]:
TotalVoters